.window {
    height: 400px;
    overflow-y: auto;
    width: 100%;
    max-width: 600px;
    border: 1px solid #999;
    border-radius: 10px;
}

.message {
    padding: 0.7em 0.5em;
    font-size: 0.9rem;
}

.message:nth-child(even) {
    background-color: #dedede;
}

.input {}

.submit {}